<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page do Usuário</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for campo in form %}
            <div>
                {{campo.label_tag}}
                {{campo}}
                {{campo.errors}}
                {{campo.help_text}}
            </div>
        {% endfor %}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>